html {
  background: no-repeat left top;
  background-size: 100%;
}
body {
  background: none;
}
.fullsized {
  height: 100%;
  width: 100%;
}
a {
  padding-top: 10px!important;
}
a img {
  width: 32px;
  height: 32px;
  display: inline-block !important;
}
#wrap {
  padding-left: 10px;
  padding-right: 10px;
}
#wrap #main {
  overflow: auto;
}
.error {
  background-color: #FFCCCC;
  padding: 5px;
  color: #DA300E;
}
.success {
  background-color: #B9F6CA;
  padding: 5px;
  color: #3c763d;
}
.message {
  padding: 15px;
  text-align: center;
  position: fixed;
  top: 35%;
  left: 40%;
  width: 300px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: none;
  z-index: 9999;
}
.message.success {
  background-color: #B9F6CA;
  color: white;
}
.disabled {
  background-color: lightgrey;
  border-color: darkgray;
  color: gray;
}
.loading {
  height: 100%;
  width: 100%;
  z-index: 9999;
  position: absolute;
  top: 0;
  right: 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.loading div {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 45%;
  height: 200px;
  width: 350px;
  border: double black 5px;
  background-color: lightgray;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.loading div span {
  display: block;
  text-align: center;
  color: black;
  text-transform: uppercase;
}
.loading div img {
  margin-top: 83.33333333px;
}
#table_alerts {
  text-align: left;
  vertical-align: middle;
}
#table_alerts .primary {
  min-width: 16.28571429%;
  display: inline-block;
  position: relative;
}
#table_alerts .primary a {
  color: black;
}
#table_alerts .primary img {
  height: 32px;
  width: 32px;
  position: absolute;
  left: 55px;
  top: -5px;
}
#table_alerts td li {
  font-weight: bold;
}
#table_alerts td .pack {
  display: block;
  float: left;
  min-width: 20%;
}
#table_alerts td .details {
  display: none;
}
#table_alerts td .details-active {
  width: 100%;
  display: inline-block;
  border-top: 2px dotted white;
  margin-top: 10px;
  padding-top: 5px;
}
#table_alerts td .details-active .label-details {
  display: inline-block;
  font-weight: normal;
}
.seriousness-ultra-hard {
  background-color: #ab0507 !important;
  color: white!important;
}
.seriousness-ultra-hard a {
  color: white!important;
}
.seriousness-hard {
  background-color: #FFCCCC !important;
}
.seriousness-normal {
  background-color: #ffa340 !important;
}
.seriousness-easy {
  background-color: #fff768 !important;
}
.hoverable:hover {
  cursor: pointer;
}
