<div class="container-fluid">
    <div class="col-sm-9 col-md-12 main">
        <h1 class="page-header">Liste des accidents signalés</h1>

        <div class="table-responsive">
            <table id="table_alerts" class="table table-striped" ng-controller="AlertsController">
                <thead>
                <tr>
                    <th>
                        <div class="primary">Heure</div>
                        <div class="primary">Adresse</div>
                        <div class="primary">Date et heure</div>
                        <div class="primary">Numéro de téléphone</div>
                        <div class="primary">Pris en charge par</div>
                        <div class="primary">Action <img ng-controller="MainController" ng-show="loading_action" src="media/img/loading.gif"></div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="hoverable" ng-class="seriousness(alert.speed * 3.6)" ng-repeat="alert in alerts">
                    <td ng-click="showDetails($event)">
                        <div>
                            <div class="primary">{{alert.time | date:'dd/MM/yyyy à HH:mm:ss'}}</div>
                            <div class="primary">{{alert.address}}</div>
                            <div class="primary">{{alert.user.firstname}} {{alert.user.lastname}}</div>
                            <div class="primary"><a href="tel:{{alert.user.phone}}">{{alert.user.phone | phoneformat}}</a></div>
                            <div class="primary">{{alert.operator.login}} </div>
                            <div class="primary">
                                <button ng-show="!alert.operator.id" class="btn btn-default actionable" ng-click="take_charge(alert.uuid)">Prendre en charge</button>
                                <button class="btn btn-default actionable" ng-click="end_alert(alert.uuid)">Terminé</button>
                            </div>
                        </div>
                        <div id="{{alert.uuid}}" class="details">
                            <ul>
                                <div class="pack">
                                    <li><span class="label-details">Vitesse:</span> {{alert.speed * 3.6}} km/h</li>
                                </div>
                                <div class="pack">
                                    <li><span class="label-details">Sexe:</span> {{alert.user.gender | gender}}</li>
                                    <li><span class="label-details">Groupe sanguin:</span> {{alert.user.bloodGroup |
                                        bloodgroup}}
                                    </li>
                                    <li><span class="label-details">Langues parlées:</span> {{alert.user.languages}}</li>
                                </div>
                                <div class="pack">
                                <li><span class="label-details">Allergies:</span> {{alert.user.allergies}}</li>
                                <li><span class="label-details">Traitement pris:</span> {{alert.user.medecine}}</li>
                                <li><span class="label-details">Problème de santé connus:</span>
                                    {{alert.user.healthIssues}}
                                </li>
                                </div>
                                <div class="pack">
                                    <li><span class="label-details">Contact prioritaire:</span>
                                        {{alert.user.repLegalFirstname}} {{alert.user.repLegalLastname}}
                                    </li>
                                    <li><span class="label-details">Téléphone du contact:</span>
                                        {{alert.user.repLegalPhone}}
                                    </li>
                                </div>
                                <li><span class="label-details">Commentaire:</span> {{alert.user.comments}}</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>